<nav class="flex gap-2 items-baseline">
  <.nav_link navigate={~p"/"}>Home</.nav_link>

  <span class="flex-grow" />

  <%!-- Unauthenticated Routes --%>
  <.nav_link :if={!@current_user} navigate={~p"/sign-in"}>Sign In</.nav_link>

  <%!-- Authenticated Routes --%>
  <.nav_link :if={@current_user} href={~p"/sign-out"} method="delete">Sign Out</.nav_link>
</nav>
