name: Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

env:
  MIX_ENV: test

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    concurrency: production

    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
      - run: elixir --version
      - run: mix local.hex --force
      - run: mix local.rebar --force

      - name: Hex Cache
        uses: actions/cache@v4
        with:
          save-always: true
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
            ${{ runner.os }}-mix-
            ${{ runner.os }}-

      - name: Install dependencies
        run: mix deps.get

      - name: Compilation Cache
        uses: actions/cache@v4
        with:
          save-always: true
          path: _build
          key: ${{ runner.os }}-compiled-${{ hashfiles('./mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-compiled-${{ hashfiles('./mix.lock') }}
            ${{ runner.os }}-compiled-
            ${{ runner.os }}-

      - name: Compile
        run: mix compile --warnings-as-errors

      - name: Run tests
        run: mix test --warnings-as-errors

      - name: Credo
        run: mix credo --all
